.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

android/.gradle/
android/.kotlin/
android/build/
android/local.properties
android/app/build/
android/app/.cxx/
android/key.properties
android/**/*.keystore
android/**/*.jks

*.apk
*.aab
